{% extends "student_register/base.html" %}
{% block container %}

    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}

    {% if messages %}
        {% for message in messages  %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="bg-green-400 text-white text-3xl mt-6 max-w-3xl mx-auto py-4 text-center rounded-3xl">{{ message }}</div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="bg-red-500 text-white text-3xl mt-6 max-w-3xl mx-auto py-4 text-center rounded-3xl">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock container %}